.header {
    font-family: Nunito Sans, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 55px;
    line-height: 127%;
    color: #0D2C99;
}

.muted {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 152%;
    color: #A9A9A9;
}

.footer {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;

    color: #B6B6B6;
}
