.wrapper {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  font-size: 10px;
}

.item .counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--lightSilver);
  margin-bottom: 6px;
  cursor: pointer;
}

.item.completed {
  color: var(--blue);
  font-weight: 500;
}

.item.completed .counter {
  background-color: var(--blue);
}

.item::after {
  position: absolute;
  content: "";
  border-bottom: 3px solid var(--lightSilver);
  width: 100%;
  right: 0%;
  left: -50%;
  top: 5px;
  z-index: 3;
  transition: all 0.5s;
}

.item:first-child::after {
  content: none;
}

.item.completed::after {
  border-bottom: 3px solid var(--blue);
}

.legend {
  max-width: 36px;
  color: var(--silver);
}
