.body {
  background: var(--white);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.02);
  border-radius: 0 0 10px 10px;
  display: flex;
}

:global(.dark) .body {
  background: var(--dark);
  color: var(--white);
}

.body > div:first-child {
  width: 789px;
}

.passengerInfo {
  padding-top: 11px;
  width: 100%;
  display: flex;
  padding-left: 43px;
}

.passengerInfo > span {
  display: flex;
  flex-direction: column;
  flex: 1 0 423px
}

.passengerInfo span > span {
  font-family: var(--nunito);
  text-transform: uppercase;
}

.passengerInfo > span > span:first-child {
  font-size: 10px;
  line-height: 14px;
}

.passengerInfo > span > span:nth-child(2) {
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.flightHeader {
  position: relative;
  margin-top: 6px;
  margin-left: 36px;
  width: 717px;
  height: 20px;
  display: flex;
  align-items: center;
}

.flightHeader::after {
  position: absolute;
  left: 100%;

  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left-width: 10px;
  border-left-style: solid;
}

.flightHeader > span {
  text-transform: uppercase;
  font-family: var(--nunito);
  font-size: 10px;
  line-height: 14px;
  font-weight: bold;
  color: var(--white);
}

.flightHeader > span {
  margin-left: 157px;
}

.flightHeader > span:first-child {
  margin-left: 7px;
  margin-top: 1px;
}

.flightInfo {
  margin: 0 0 18px 43px;
  font-family: var(--poppins);
  text-transform: uppercase;
  display: flex;
}

.flightInfo > div:first-child {
  flex-basis: 205px;
}

.flightInfo > div:nth-child(2) {
  flex-basis: 218px;
}

.flightInfo > div:nth-child(3) {
  flex-basis: 242px;
}

.dateInfo {
  height: 28px;
  display: flex;
  margin-top: 12px;
  width: 420px;
}

.dateInfo > div:nth-child(2) {
  margin-left: 142px;
}

.dateInfo div > div {
  text-transform: uppercase;
  font-family: var(--nunito);
  font-style: normal;
  font-weight: 300;
  font-size: 9px;
  line-height: 12px;
  display: flex;
  align-items: center;
}

.dateInfo div > div:nth-child(2) {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

.gateInfo {
  height: 40px;
  display: flex;
  margin-top: 9px;
  width: 420px;
}

.gateInfo > div:nth-child(2) {
  margin-left: 125px;
}

.gateInfo div > div {
  text-transform: uppercase;
  font-family: var(--nunito);
  font-style: normal;
  font-weight: 300;
  font-size: 9px;
  line-height: 12px;
  display: flex;
  align-items: center;
}

.gateInfo div > div:nth-child(2) {
  font-weight: 800;
  font-size: 32px;
  line-height: 36px;
  display: flex;
  align-items: center;
}

.footer {
  margin-left: 43px;
  display: flex;
}

.qrCodeInfo {
  width: 270px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.qrCodeInfo .infoText {
  width: 158px;
  font-family: var(--nunito);
  font-weight: 800;
  font-size: 9.7px;
  line-height: 13px;
  border: 3px solid var(--dark);
  padding: 5px 7px 4px 6px;
  text-transform: none;
}

:global(.dark) .qrCodeInfo .infoText {
  border-color: var(--white);
}

.sideContent {
  height: auto;
  border-left: 1px dashed var(--dark);
  width: 185px;
}

:global(.dark) .sideContent {
  border-left-color: var(--white);
}

.sideContent .passengerInfoSideBar {
  text-transform: uppercase;
  font-family: var(--nunito);
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  display: flex;
  display: flex;
  flex-direction: column;
  padding-left: 22px;
  padding-top: 11px;
}

.sideContent .passengerInfoSideBar > div:nth-child(2) {
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
}

.sideContent .flightInfoSidebar {
  padding-left: 22px;
  padding-top: 11px;
  padding-right: 14px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.sideContent .flightInfoSidebar > div {
  display: flex;
  justify-content: center;
  font-family: var(--nunito);
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
}

.sideContent .flightInfoSidebar > div:nth-child(2) {
  display: flex;
  flex-direction: column;
}

.sideContent .flightInfoSidebar > div:nth-child(2) div:nth-child(2) {
  font-size: 8px;
  line-height: 11px;
}

.dateInfoSidebar {
  display: flex;
  margin-top: 9px;
  padding-left: 22px;
  padding-right: 14px;
  justify-content: space-between;
}

.dateInfoSidebar div > div {
  text-transform: uppercase;
  font-family: var(--nunito);
  font-style: normal;
  font-weight: 300;
  font-size: 9px;
  line-height: 12px;
}

.dateInfoSidebar div > div:nth-child(2) {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

.seatInfo {
  display: flex;
  margin-top: 9px;
  padding-left: 22px;
  padding-top: 11px;
  padding-right: 14px;
  justify-content: space-between;
}

.seatInfo div > div {
  text-transform: uppercase;
  font-family: var(--nunito);
  font-style: normal;
  font-weight: 300;
  font-size: 9px;
  line-height: 12px;
}

.seatInfo div > div:nth-child(2) {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  font-weight: 800;
  font-size: 24px;
  line-height: 24px;
}
