.filter {
  border-radius: 10px 0px 10px 10px;
  background-color: #f8f8f8;
  backdrop-filter: blue(10px);
  padding-bottom: 10px;
  width: 17.6rem;
}

:global(.dark) .filter {
  background-color: #303030;
}

.filter header {
  font-family: var(--nunito);
  font-weight: bold;
  font-size: 15px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: var(--white);
  background-color: var(--blue);
  height: 37px;
  padding-left: 12px;
  border-radius: 10px 0px 0px 0px;
}

:global(.dark) .filter header {
  color: var(--white);
  background-color: #1F1F1F;
}

.firstRow {
  margin-top: 26px;
  display: flex;
  justify-content: space-between;
  padding-left: 18px;
  padding-right: 18px;
}

.firstRow > select {
  font-family: var(--poppins);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: var(--silver);
  background: #ebebeb;
  border-radius: 5px;
  width: 49%;
  border: 0;
}

:global(.dark) .firstRow > select {
  color: rgba(215, 215, 220, 0,5);
  background-color: #282828;
}

.secondRow {
  display: flex;
  padding-left: 18px;
  padding-right: 18px;
  margin-top: 19px;
  margin-bottom: 19px;
}

.secondRow > span {
  font-family: var(--poppins);
  font-size: 14px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: var(--silver);
  margin-bottom: 8px;
  padding-left: 18px;
  padding-right: 18px;
}

.thirdRow {
  display: flex;
  justify-content: flex-start;
  height: 16px;
  padding-left: 18px;
  padding-right: 18px;
  align-items: center;
}

.thirdRow > span {
  font-family: var(--poppins);
  font-size: 8px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: var(--silver);
  padding-left: 4px;
}

.fourthRow {
  margin-top: 24px;
  height: 25px;
  display: flex;
  justify-content: space-between;
  padding-left: 18px;
  padding-right: 18px;
}

.fourthRow > button {
  height: 25px;
  width: 46%;
  font-family: var(--poppins);
  font-size: 10px;
  line-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  padding: 6px 0px 6px 0px;
  border: 0;
  cursor: pointer;
}

.fourthRow > button:hover {
  transition: all 0.2s;
  filter: brightness(90%);
}

.fourthRow > .submitButton {
  color: var(--white);
  background-color: var(--green);
  font-weight: 600;
}

.fourthRow .resetButton {
  color: var(--silver);
  background-color: #ebebeb;
}

:global(.dark) .fourthRow .resetButton {
  background-color: #373737;
  color: var(--white);
}
