:root {
  --blue: #0d2c99;
  --white: #ffffff;
  --green: #2ec662;
  --silver: #808080;
  --lightSilver: #ebebeb;
  --nunito: "Nunito Sans";
  --poppins: "Poppins";
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
