.error {
  background-color: #bb2124 !important;
  color: white !important;
}

.alert {
  background-color: #f0ad4e !important;
  color: white !important;
}

.success {
  background-color: #22bb33 !important;
  color: white !important;
}
